// @import "tailwindcss/base";
// @import "tailwindcss/components";
@import 'tailwindcss/utilities';

html {
  font-feature-settings: unset !important;
  color-scheme: unset !important;
}

body {
  @apply antialiased;
}

article {
  img {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .nextra-body-typesetting-article {
    line-height: 1.75 !important;

    p {
      line-height: 1.75 !important;
    }

    h1,
    h2,
    h3,
    h4 {
      line-height: 1.25 !important;
    }
  }
}

.content-container {
  @apply container max-w-7xl p-5 mx-auto;
  strong {
    @apply text-current no-underline font-bold;
  }
}
