@import 'tailwindcss/utilities';

html {
  font-feature-settings: unset !important;
}

body {
  text-rendering: optimizeLegibility;
}

html,
body {
  scroll-behavior: smooth;
}

img {
  content-visibility: auto;
}

.nextra-nav-container {
  @apply bg-white dark:bg-dark border-b border-neutral-200/70 dark:border-primary-100/10;

  .nextra-nav-container-blur {
    @apply hidden;
  }

  a {
    &[aria-current] {
      @apply text-sm leading-6 font-semibold hover:text-primary-600;
    }
    &[aria-current^='true'] {
      @apply text-primary-600 antialiased;
    }
  }
}

.nextra-content {
  .nextra-body-typesetting-article,
  .nextra-body-typesetting-article p,
  .nextra-body-typesetting-article h1,
  .nextra-body-typesetting-article h2,
  .nextra-body-typesetting-article h3,
  .nextra-body-typesetting-article h4 {
    line-height: 1.75 !important;
  }

  .subheading-anchor {
    @apply sr-only;
  }

  img {
    @apply rounded-md mx-auto w-full;
  }
}

code {
  @apply text-sm;
}

.nextra-nav-container a,
.nextra-sidebar-container a,
.nextra-toc a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk Bold', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.bar-of-progress::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px currentColor, 0 0 5px currentColor;
  transform: rotate(3deg) translate(0, -4px);
}
