node_modules
.next
out
.DS_Store
yarn-error.log
dist
examples
packages
cloudflared
# Auto Generated PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
# Auto Generated when build production
**/public/feed.xml
**/public/sitemap-0.xml
**/public/sitemap.xml
**/public/robots.txt
# Backup any configuration
**/*.bak*
.vercel

# Sentry Auth Token
.sentryclirc

# Env
.env
.env.local
.env.development
.env.local
